# IOS related secrets. IOS_KEYCHAIN_PASSWORD will be the same password used to encrypt files with GPG
IOS_KEYCHAIN_PASSWORD=XXXXX12345
IOS_CERT_P12_PASSWORD=XXXXX12345

# Android related secrets
ANDROID_KEYSTORE_BASE64=XXXXXXXXXXXXXXXXXXXX
ANDROID_KEYSTORE_PASSWORD=XXXXX12345
ANDROID_ALIAS_PASSWORD=XXXXX12345
